-- MySQL dump 10.13  Distrib 9.7.0, for Win64 (x86_64)
--
-- Host: localhost    Database: event_hall
-- ------------------------------------------------------
-- Server version	9.7.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ 'b855f0d6-63a4-11f1-9625-7d2c64731307:1-126';

--
-- Table structure for table `carddetail`
--

DROP TABLE IF EXISTS `carddetail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carddetail` (
  `idCardDetail` int NOT NULL AUTO_INCREMENT,
  `menuStage` varchar(100) NOT NULL,
  `detail` varchar(255) NOT NULL,
  `budget` decimal(10,2) NOT NULL,
  PRIMARY KEY (`idCardDetail`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carddetail`
--

LOCK TABLES `carddetail` WRITE;
/*!40000 ALTER TABLE `carddetail` DISABLE KEYS */;
INSERT INTO `carddetail` VALUES (1,'Men├║ de hamburguesas','Hamburguesas con acompa├▒amiento',15000.00),(2,'Men├║ de pastas','Pastas con salsa a elecci├│n',12000.00),(3,'Men├║ de mariscos','Variedad de mariscos y acompa├▒amiento',20000.00);
/*!40000 ALTER TABLE `carddetail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client`
--

DROP TABLE IF EXISTS `client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client` (
  `idCli` int NOT NULL AUTO_INCREMENT,
  `nameCli` varchar(100) NOT NULL,
  `surnameCli` varchar(100) NOT NULL,
  `phoneCli` varchar(20) NOT NULL,
  `dniCli` int NOT NULL,
  `addressCli` varchar(200) NOT NULL,
  `emailCli` varchar(150) NOT NULL,
  `idLocation` int NOT NULL,
  PRIMARY KEY (`idCli`),
  KEY `idLocation` (`idLocation`),
  CONSTRAINT `client_ibfk_1` FOREIGN KEY (`idLocation`) REFERENCES `location` (`idLocation`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client`
--

LOCK TABLES `client` WRITE;
/*!40000 ALTER TABLE `client` DISABLE KEYS */;
INSERT INTO `client` VALUES (1,'Luisina','Movio','23456789',46760270,'Zeballos 1300','luisina.movio@gmail.com',1);
/*!40000 ALTER TABLE `client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contract`
--

DROP TABLE IF EXISTS `contract`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contract` (
  `idContract` int NOT NULL AUTO_INCREMENT,
  `eventStartTime` time NOT NULL,
  `eventEndTime` time NOT NULL,
  `dateContract` date NOT NULL,
  `finalValue` decimal(10,2) NOT NULL,
  `idReservation` int NOT NULL,
  PRIMARY KEY (`idContract`),
  UNIQUE KEY `uq_contract_reservation` (`idReservation`),
  KEY `idReservation` (`idReservation`),
  CONSTRAINT `contract_ibfk_1` FOREIGN KEY (`idReservation`) REFERENCES `reservation` (`idReservation`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contract`
--

LOCK TABLES `contract` WRITE;
/*!40000 ALTER TABLE `contract` DISABLE KEYS */;
/*!40000 ALTER TABLE `contract` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contractextraservice`
--

DROP TABLE IF EXISTS `contractextraservice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contractextraservice` (
  `idContract` int NOT NULL,
  `idService` int NOT NULL,
  PRIMARY KEY (`idContract`,`idService`),
  KEY `idService` (`idService`),
  CONSTRAINT `contractextraservice_ibfk_1` FOREIGN KEY (`idContract`) REFERENCES `contract` (`idContract`),
  CONSTRAINT `contractextraservice_ibfk_2` FOREIGN KEY (`idService`) REFERENCES `extraservice` (`idService`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contractextraservice`
--

LOCK TABLES `contractextraservice` WRITE;
/*!40000 ALTER TABLE `contractextraservice` DISABLE KEYS */;
/*!40000 ALTER TABLE `contractextraservice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `extraservice`
--

DROP TABLE IF EXISTS `extraservice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `extraservice` (
  `idService` int NOT NULL AUTO_INCREMENT,
  `nameService` varchar(100) NOT NULL,
  `detailService` varchar(255) NOT NULL,
  `cost` decimal(10,2) NOT NULL,
  PRIMARY KEY (`idService`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `extraservice`
--

LOCK TABLES `extraservice` WRITE;
/*!40000 ALTER TABLE `extraservice` DISABLE KEYS */;
INSERT INTO `extraservice` VALUES (1,'DJ','Servicio de m├║sica y animaci├│n durante el evento',50000.00),(2,'Fotograf├¡a','Servicio de fotograf├¡a profesional durante el evento',40000.00),(3,'Decoraci├│n','Decoraci├│n tem├ítica del sal├│n',35000.00),(4,'Catering','Servicio adicional de comida y bebidas',60000.00),(5,'Sonido e iluminaci├│n','Equipamiento profesional de sonido e iluminaci├│n',45000.00),(6,'Pantalla y proyector','Pantalla y proyector para presentaciones o videos',30000.00);
/*!40000 ALTER TABLE `extraservice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `location`
--

DROP TABLE IF EXISTS `location`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `location` (
  `idLocation` int NOT NULL AUTO_INCREMENT,
  `city` varchar(100) NOT NULL,
  `zipCode` varchar(20) NOT NULL,
  PRIMARY KEY (`idLocation`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `location`
--

LOCK TABLES `location` WRITE;
/*!40000 ALTER TABLE `location` DISABLE KEYS */;
INSERT INTO `location` VALUES (1,'Rosario','2000');
/*!40000 ALTER TABLE `location` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lounge`
--

DROP TABLE IF EXISTS `lounge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lounge` (
  `idLounge` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `loungeAddress` varchar(200) NOT NULL,
  `idLocation` int NOT NULL,
  PRIMARY KEY (`idLounge`),
  KEY `idLocation` (`idLocation`),
  CONSTRAINT `lounge_ibfk_1` FOREIGN KEY (`idLocation`) REFERENCES `location` (`idLocation`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lounge`
--

LOCK TABLES `lounge` WRITE;
/*!40000 ALTER TABLE `lounge` DISABLE KEYS */;
INSERT INTO `lounge` VALUES (1,'Sal├│n Grande (90-130)','Av. Carlos Pellegrini 3135',1),(2,'Sal├│n Peque├▒o (70-90)','Av. Carlos Pellegrini 3135',1);
/*!40000 ALTER TABLE `lounge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loungetype`
--

DROP TABLE IF EXISTS `loungetype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loungetype` (
  `idLoungeType` int NOT NULL AUTO_INCREMENT,
  `nameLoungeType` varchar(255) NOT NULL,
  `minQuantity` int NOT NULL,
  `maxQuantity` int NOT NULL,
  `idLounge` int NOT NULL,
  PRIMARY KEY (`idLoungeType`),
  UNIQUE KEY `uq_loungetype_name` (`idLounge`,`nameLoungeType`),
  KEY `idLounge` (`idLounge`),
  CONSTRAINT `loungetype_ibfk_1` FOREIGN KEY (`idLounge`) REFERENCES `lounge` (`idLounge`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loungetype`
--

LOCK TABLES `loungetype` WRITE;
/*!40000 ALTER TABLE `loungetype` DISABLE KEYS */;
INSERT INTO `loungetype` VALUES (1,'Tipo Grande',90,130,1),(2,'Tipo Peque├▒o',70,90,2);
/*!40000 ALTER TABLE `loungetype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment`
--

DROP TABLE IF EXISTS `payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment` (
  `idPayment` int NOT NULL AUTO_INCREMENT,
  `value` decimal(10,2) NOT NULL,
  `statusPayment` varchar(50) NOT NULL,
  `datePayment` date NOT NULL,
  `idContract` int NOT NULL,
  PRIMARY KEY (`idPayment`),
  KEY `idContract` (`idContract`),
  CONSTRAINT `payment_ibfk_1` FOREIGN KEY (`idContract`) REFERENCES `contract` (`idContract`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment`
--

LOCK TABLES `payment` WRITE;
/*!40000 ALTER TABLE `payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `price`
--

DROP TABLE IF EXISTS `price`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `price` (
  `effectiveDate` date NOT NULL,
  `endDate` date DEFAULT NULL,
  `value` decimal(10,2) NOT NULL,
  `idLoungeType` int NOT NULL,
  PRIMARY KEY (`effectiveDate`,`idLoungeType`),
  KEY `idLoungeType` (`idLoungeType`),
  CONSTRAINT `price_ibfk_1` FOREIGN KEY (`idLoungeType`) REFERENCES `loungetype` (`idLoungeType`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `price`
--

LOCK TABLES `price` WRITE;
/*!40000 ALTER TABLE `price` DISABLE KEYS */;
/*!40000 ALTER TABLE `price` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservation`
--

DROP TABLE IF EXISTS `reservation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservation` (
  `idReservation` int NOT NULL AUTO_INCREMENT,
  `dateReservation` date NOT NULL,
  `dateEvent` date NOT NULL,
  `status` varchar(50) NOT NULL,
  `cantInvit` int NOT NULL,
  `idCli` int NOT NULL,
  `idLounge` int NOT NULL,
  `idLoungeType` int NOT NULL,
  `idCardDetail` int DEFAULT NULL,
  PRIMARY KEY (`idReservation`),
  KEY `idCli` (`idCli`),
  KEY `idLounge` (`idLounge`),
  KEY `idLoungeType` (`idLoungeType`),
  KEY `reservation_ibfk_4` (`idCardDetail`),
  CONSTRAINT `reservation_ibfk_1` FOREIGN KEY (`idCli`) REFERENCES `client` (`idCli`),
  CONSTRAINT `reservation_ibfk_2` FOREIGN KEY (`idLounge`) REFERENCES `lounge` (`idLounge`),
  CONSTRAINT `reservation_ibfk_3` FOREIGN KEY (`idLoungeType`) REFERENCES `loungetype` (`idLoungeType`),
  CONSTRAINT `reservation_ibfk_4` FOREIGN KEY (`idCardDetail`) REFERENCES `carddetail` (`idCardDetail`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservation`
--

LOCK TABLES `reservation` WRITE;
/*!40000 ALTER TABLE `reservation` DISABLE KEYS */;
INSERT INTO `reservation` VALUES (1,'2026-09-03','2050-08-27','cancelada',2,1,1,1,1);
/*!40000 ALTER TABLE `reservation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservationextraservice`
--

DROP TABLE IF EXISTS `reservationextraservice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservationextraservice` (
  `idReservation` int NOT NULL,
  `idService` int NOT NULL,
  PRIMARY KEY (`idReservation`,`idService`),
  KEY `reservationextraservice_ibfk_2` (`idService`),
  CONSTRAINT `reservationextraservice_ibfk_1` FOREIGN KEY (`idReservation`) REFERENCES `reservation` (`idReservation`),
  CONSTRAINT `reservationextraservice_ibfk_2` FOREIGN KEY (`idService`) REFERENCES `extraservice` (`idService`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservationextraservice`
--

LOCK TABLES `reservationextraservice` WRITE;
/*!40000 ALTER TABLE `reservationextraservice` DISABLE KEYS */;
INSERT INTO `reservationextraservice` VALUES (1,2),(1,3),(1,4),(1,5);
/*!40000 ALTER TABLE `reservationextraservice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `idUsuario` int NOT NULL AUTO_INCREMENT,
  `username` varchar(150) NOT NULL,
  `password` varchar(255) NOT NULL,
  `rol` enum('administrador','cliente') NOT NULL,
  `idCli` int DEFAULT NULL,
  `passwordTemporal` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`idUsuario`),
  UNIQUE KEY `username` (`username`),
  KEY `idCli` (`idCli`),
  CONSTRAINT `usuario_ibfk_1` FOREIGN KEY (`idCli`) REFERENCES `client` (`idCli`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES (1,'luisina.movio@gmail.com','$2b$10$WkKryG384KF5QeAYn/qe/uTVm7xUFXSbQTonl.bxdLRxTm5tvZW4a','cliente',1,0),(2,'admin','$2b$10$e0BPxUoATIG7JALND7Q.re6WGOEoo/aF3Xb4Evq5k7st/slvHh182','administrador',NULL,0);
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-04  0:40:38
